$regular   = 'MetricRegular'
$bold      = 'MetricBold'
$light     = 'MetricLight'
$color   = #FDB913
$default = #007DC5
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionAll()
	-webkit-transition all .3s linear
	-moz-transition all .3s linear
	-ms-transition all .3s linear
	-o-transition all .3s linear
	transition all .3s linear
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular
	color #000000
	background-color #EFEFEF
img
	width 100%
p
	margin 0
	font-size 18px
strong
	font-family $bold
.js-section
	position relative
	padding 30px 20px
.js-white
	background-color #FFFFFF
.js-title
	text-align center
	font-size 32px
	font-family $bold
	margin 20px 0
	&.white
		color #FFFFFF
.js-flex
	flexCenter()
	justify-content center
	.js-flex__left
		flexCenter()
		justify-content center
		width 100%
		text-align left
	.js-flex__right
		flexCenter()
		justify-content center
		width 100%
		text-align right
		a
			margin 0 20px
.js-flex--start
	flexStart()
	justify-content center
	margin 20px 0
	&.second
		.js-information__left
			order 2
		.js-information__right
			order 1
.js-height
	height 100vh
.js-container
	transitionMaxWidth()
	height 100%
	width 100%
	max-width 1150px
	margin auto
.js-input
	padding 7px 20px
	height 70px
	margin 0
	border 1px solid rgba(0,0,0,0.15)
	background-color #FFFFFF
	margin-bottom -1px
	color #333333
	margin 5px 0
	&.js-input--default
		width 100%
		max-width 400px
		margin 20px auto
	&.js-date
		padding 5px 20px
		.js-icon
			width 100%
			max-width 36px
			text-align center
	&.js-file
		height 100%
	&.js-radio
		height 100%
		.mdl-radio
			width 100%
			.mdl-radio__inner-circle
				background $default
			&.is-checked
				.mdl-radio__outer-circle
					border 2px solid $default
			.mdl-radio__ripple-container 
				.mdl-ripple
					background $default
	&.js-select
		padding 0
		.bootstrap-select
			width 100% !important
			height 100%;
			.dropdown-toggle
				padding 14px 24px
				border-radius 0
				box-shadow none
				background-color transparent
				height 100%
				border none
			.dropdown-menu
				background-color rgba(248, 248, 248, 0.95)
				border-radius 0
				margin 0 
				padding 0
				&.open
					margin 0
					padding 0
					li
						a
							padding 6px 20px
							&:hover
								background-color rgba(221,221,221,0.5)
	label
		font-family $light
		color #666666
		cursor pointer
		margin-bottom 0
		font-weight 100
		font-size 14px
	input
		display block
		height 36px
		width 100%
		border none
		font-size 16px
		&:focus
			outline 0
.js-select
	&.js-standar
		margin 5px 0
		.bootstrap-select
			width 100% !important
			.btn-default
				background-color #FFFFFF
				color #757575
				height 46px
				border-radius 0	
.js-contact-label
	flexCenter()
	flex-wrap wrap
	.js-input-label
		width 100%
		max-width 120px
.js-label
	height 145px
	margin 5px 0
	span
		font-family $bold
		a
			color #008FD3 !important
	.mdl-checkbox__label
		font-size 14px
		color #000000
		line-height 18px
		font-family $regular
		font-weight 100
#home
	overflow hidden
	padding 0
	position relative
	height 100vh
	.owl-carousel
		relative()
		height 100vh
		width 100%
		z-index 2
		.owl-item
			height 100vh
			.item
				height 100vh
				.fondo-responsive
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					background-size cover !important
					&.fondo1
						background url(../img/fondo/fondo1.jpg) no-repeat center center
					&.fondo2
						background url(../img/fondo/fondo2.jpg) no-repeat center center
					&.fondo3
						background url(../img/fondo/fondo3.jpg) no-repeat center center
					&:BEFORE
						absolute()
						content ''
						background-color #000000
						z-index 0
						height 100vh
						opacity .4
.owl-theme
	.owl-nav
		.owl-prev
		.owl-next
			background-color $default
.js-button
	background-color $default !important
	text-decoration none !important
	font-size 16px
	color #FFFFFF !important
	border 2px solid $default
	margin 10px
	font-family $bold
	width 100%
	max-width 195px
	&.js-button--default
		background-color transparent !important
		border 2px solid #FFFFFF
	&.js-login
		background-color #535353 !important
		border 2px solid #535353
.mdl-radio__inner-circle
	background #4983B6
.mdl-checkbox
	&.is-checked 
		.mdl-checkbox__tick-outline
			background #4983B6
.mdl-checkbox__ripple-container 
	&.mdl-ripple
		background #4983B6
.mdl-radio__ripple-container 
	.mdl-ripple
		background #4983B6
.mdl-checkbox
	&.is-checked 
		.mdl-checkbox__box-outline
			border 2px solid #4983B6
.mdl-radio
	&.is-checked 
		.mdl-radio__outer-circle
			border 2px solid #4983B6
.js-checkbox
	.mdl-checkbox
		max-width 250px
	.mdl-checkbox__label
		font-size 15px
		line-height 18px
		font-weight 100
	.mdl-checkbox__box-outline
		border 2px solid #FFFFFF
.js-fondo
	absolute()
	background url(../img/fondo/fondo1.jpg) no-repeat center center
	background-size cover
	width 100%
	height 100vh
	z-index -1
	&:BEFORE
		absolute()
		content ''
		background-color #000000
		z-index 0
		height 100vh
		opacity .5
footer
	background-color #000000
	color #FFFFFF
	p
		font-size 16px
		line-height 20px
	a
		font-size 16px
		font-family $bold
		text-decoration none
		color $default !important
.navbar-default
	transitionAll()
	margin 0
	padding 10px
	border none
	border-radius 0
	position fixed
	width 100%
	background-color #FFFFFF
	z-index 10
	&.navbarcolor
		box-shadow 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
	.navbar-nav
		text-align center
		&>li
			&>a
				color #212121
				font-size 18px
				background-color transparent !important
				&:hover
					color #212121
	.navbar-brand
		padding 0
		font-size 26px
		line-height 30px
		color #FFFFFF
		position relative
		height 100%
		small
			position absolute
			right 0
			margin-right -230px
			margin-top -25px
			color #FFFFFF
		img
			transitionMaxWidth()
			max-width 110px
.nav-tabs
	border none
	&>li
		&>a
			border none !important
			font-size 18px
	&>li
		&.active
			&>a
				font-family $bold				
/*CLASES PROYECTO*/
.js-contenido
	absolute()
	flexCenter()
	flex-direction column
	justify-content center
	z-index 5
	text-align center
	color #FFFFFF
	max-width 650px
	margin auto
	h1
		font-size 50px
		line-height 50px
		font-family $bold
		text-shadow 2px 2px 7px rgba(0, 0, 0, 0.54)
	p
		font-size 32px
		line-height 32px
		margin-bottom 20px
.js-information
	padding 20px 0
	p
		line-height 20px
		margin 15px 0
	strong
		margin 10px 0
		font-size 18px
	ul
		li
			font-size 18px
.js-information__left
	flexCenter()
	justify-content flex-start
	position relative
	width 100%
	height 250px
	max-width 500px
	.js-information__left--imagen
		absolute()
		background url(../img/fondo/mision1.jpg) no-repeat center center
		background-size cover !important
		height 250px
		&.one
			background url(../img/fondo/vision.jpg) no-repeat center center
.js-information__right
	padding 10px 25px
	width 100%
	max-width calc(100% - 500px)
	p
		margin 5px 0
		text-align justify
.js-contactanos
	flexStart()
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	background-color #FFFFFF
	margin 20px
	.js-contactanos--left
		width 100%
		max-width 300px
	.js-contactanos--right
		flexStart()
		padding 20px
		justify-content flex-start
		flex-direction column
		width 100%
		max-width calc(100% - 300px)
		.js-flex
			margin 10px
			i
				margin-right 10px
			a
				color #000000
				text-decoration none
				font-size 16px
.js-servicios
	flexCenter()
	justify-content center
	flex-wrap wrap
	.mdl-card
		display block
		max-width 340px
		margin 20px
		padding 12px
		box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
		cursor pointer
		.mdl-card__title
			relative()
			height 200px
			overflow hidden
			.js-principal
				absolute()
				transitionTransform()
				background-size cover !important
				height 200px
				&.principal1
					background url(../img/espacios/lavadoras.png) no-repeat center center
				&.principal2
					background url(../img/espacios/secadoras.jpg) no-repeat center center
				&.principal3
					background url(../img/espacios/cocinas.jpg) no-repeat center center
				&.principal4
					background url(../img/espacios/refrigeradoras.jpg) no-repeat center center
				&.principal5
					background url(../img/espacios/aire.jpg) no-repeat center center
				&.principal6
					background url(../img/espacios/electricidad.jpg) no-repeat center center
		.mdl-card__supporting-text
			padding 0
			margin-top 10px
			h2
				transitionAll()
				padding 8px
				font-family $bold
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
		&:hover
			.mdl-card__title
				.js-principal
					transform scale(1.1)
			.mdl-card__supporting-text
				h2
					background-color #007DC5
					color #FFFFFF
.js-redes
	border 1px solid #000000
	margin 20px auto
	max-width 350px
	width 100%
	&.js-white--color
		border 1px solid #FFFFFF
		.js-whatsapp
		.js-call
			a
				color #FFFFFF !important
	.js-whatsapp
	.js-call
		text-align center
		a
			color #000000 !important
			text-decoration none
			font-size 32px
			line-height 32px
			display block
			margin 10px 0
			img
				max-width 50px
				margin-right 10px
				display inline-block
	.js-whatsapp
		a
			font-size 50px
			line-height 50px
.js-marcas
	margin 50px 0
	.js-marcas__item
		flexCenter()
		margin 15px auto
		justify-content center
		max-width 200px
		width 100%
		img
			max-width 165px	
/*MATERIAL DESIGN*/
.mdl-card
.mdl-card__supporting-text
	width 100%
	h2
		font-size 22px
		line-height 26px
		text-align center
		color #000000
		margin 5px 0
/*MODAL*/
.modal
	&.fade
		padding 0 !important
		.modal-dialog
			width 100%
			padding 0
			margin 0
			border-radius 0
			.mdl-card
				width 100%
				max-width 650px
				margin auto
				margin-top 40px
				.mdl-card__title
					display block
					.js-principal
						relative()
						background-size cover !important
						height 250px
						&.principal1
							background url(../img/espacios/lavadoras.png) no-repeat center center
						&.principal2
							background url(../img/espacios/secadoras.jpg) no-repeat center center
						&.principal3
							background url(../img/espacios/cocinas.jpg) no-repeat center center
						&.principal4
							background url(../img/espacios/refrigeradoras.jpg) no-repeat center center
						&.principal5
							background url(../img/espacios/aire.jpg) no-repeat center center
						&.principal6
							background url(../img/espacios/electricidad.jpg) no-repeat center center
				.mdl-card__supporting-text
					h2
						font-family $bold
						font-size 36px
						line-height 36px
						margin 15px 0
					p
						font-size 20px
						line-height 20px
						text-align justify
				.mdl-card__actions
					padding 16px
					button
						margin 0 5px
						text-transform initial
						font-family $bold
						&.js-button
							background-color $default !important
							text-decoration none !important
							font-size 18px
							line-height 18px
							color #FFFFFF !important
							border 2px solid $default
							width initial
							font-family $bold
						i
							margin-right 10px
#chat
	position fixed
	bottom 20px
	right 20px
	z-index 5
	img
		max-width 50px
/*TABLE*/
table
	&>tbody
		&>tr
			&>td
				font-size 16px
.table-responsive
	border none
	ul
		padding 0
.js-dont-bulled
	list-style none
	li
		line-height 18px
/*TOASTR*/
/*SCROLL*/
::-webkit-scrollbar
	width 5px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
@media (max-width: 1000px)
	.navbar-brand
		small
			display none
	.js-information__left
		max-width 300px
	.js-information__right
		max-width calc(100% - 300px)
	.js-contactanos
		.js-contactanos--left
			max-width 350px
			iframe
				width 350px
		.js-contactanos--right
			max-width calc(100% - 350px)
@media (max-width: 600px)
	.navbar-brand
		small
			display none	
	.js-flex--start
		display block
	.js-information__left
		max-width 100%
	.js-information__right
		max-width 100%
		padding 20px 0	
	.js-contenido
		padding 40px 20px
		h1
			font-size 42px
			line-height 42px
	.js-subtitle
		text-align center
	.js-contactanos
		display block
		.js-contactanos--left
			max-width 100%
			iframe
				width 100%
		.js-contactanos--right
			max-width 100%
	.js-servicios 
		.mdl-card
			margin 20px 0